// --------------------------------------
// 🧩 MIXINS

// --------------------------------------
@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  width: 100%;
  max-width: $max-width;
  padding: 10px 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin button($bg: $primary-color, $color: #fff) {
  background-color: $bg;
  color: $color;
  padding: 0.75rem 1.5rem;
  border-radius: $border-radius;
  transition: $transition;
  display: inline-block;
  text-align: center;

  &:hover {
    opacity: 0.9;
  }
}

@mixin fluid-font($min, $max) {
  font-size: clamp($min, 2vw, $max);
}
