// --------------------------------------
// 🎨 VARIABLES
// --------------------------------------

$primary-color: #2e6eff;
$secondary-color: #ff7b54;
$btn-color: #cf6f49;
$text-color: #2a2c1f;
$acent-color: #65665c;
$bg-color: #f8f9fa;
$light-color: #ffffff;

$font-family-main: 'Roboto', sans-serif;
$max-width: 1300px;
$border-radius: 8px;
$transition: all 0.3s ease;

$section-padding: 4rem 0;
